.categorySelectTemplate {
    .categoryTitle{
        margin: {
            left: 5em;
            top: 1em;
        }
    }
    .categorySelect{
        margin: {
            left: 7em;
            top: 1em;
        }
    }
    padding: {
        top: 2em;
        bottom: 5em;
    }
}