.signup-template{ 
    width: 400px;
    height: 300px; 
    margin-left: auto;
    margin-right: auto; 
    margin-top:15rem;
    margin-bottom:auto; 

    .signup-title{
        text-align: center;
        font-size: 2rem;
    }

    .submit{
        margin-top: 10px;
        height: 50px; 
    }

    .grid-container{
        margin-top: 8px;
    }
    
}