.About {
    position: relative;
    flex: 3;

    margin : {
        top: 80px;
        right: 50px;
        left: 17%;
    }

    width: 100%;

    .About-header {
        margin: {
            bottom: 150px;
        }

        width : 100%;

        h1 {
            float: right;

            font : {
                family: sans-serif;
                size: 40px;
            }

            width : 100&;

            .title {
                color: #777777;
                display: block;
            }
        }
    }

    .About-content {
        width: 100%;
        height: 85%;
        overflow: hidden;
        background-color: white;

        // border: 1px solid gray;
        border : {
            radius: 10px 10px 0;
        }

        .About-content-main {
            font : {
                size: 30px;
                family: sans-serif;
            }
        }
    }
}